doctype html5
html
  head
    title #{title}
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css")
    script(src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js") 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js") 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/3.0.0/jquery.payment.min.js") 
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js") 
  body
    div.container
      block content
